{erl_opts, [debug_info]}.

{escript_main_app, beamclaw_cli}.
{escript_name, beamclaw}.
{escript_incl_apps, [
    beamclaw_obs,
    beamclaw_memory,
    beamclaw_tools,
    beamclaw_sandbox,
    beamclaw_mcp,
    beamclaw_core,
    beamclaw_a2a,
    beamclaw_gateway,
    beamclaw_cli
]}.

{plugins, [rebar3_lint]}.

{project_app_dirs, ["apps/*"]}.

{deps, [
    {cowboy,  "2.12.0"},
    {hackney, "1.20.1"},
    {jsx,     "3.1.0"}
]}.

{shell, [
    {apps, [beamclaw_obs, beamclaw_memory, beamclaw_tools,
            beamclaw_sandbox, beamclaw_mcp, beamclaw_core, beamclaw_a2a, beamclaw_gateway]},
    {config, "config/sys.config"}
]}.

{eunit_opts, [verbose]}.

{ct_opts, [
    {logdir, "_build/test/ct_logs"},
    {verbose, true}
]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, underspecs]},
    {plt_apps, top_level_deps}
]}.

{relx, [
    {release, {beamclaw, "0.1.0"}, [
        beamclaw_obs,
        beamclaw_memory,
        beamclaw_tools,
        beamclaw_sandbox,
        beamclaw_mcp,
        beamclaw_core,
        beamclaw_a2a,
        beamclaw_gateway,
        sasl
    ]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {docker, [
        {relx, [
            {sys_config, "./config/sys.docker.config"}
        ]}
    ]}
]}.
